@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    font-size: 10px;
}

:root.light{
    --main-bg: #E4E9EE;
    --main-clr: #354756;
    --sticky-bg: #F8F8F8
}

:root.dark{
    --main-bg:#354756;
    --main-clr: #FFFFFF;
    --sticky-bg: #2B3237;
}

button:hover{
    cursor: pointer;
}

.hero{
    position:relative;
    height:95vh;
    width: 100vw;
}

.hero_img{
    position: absolute;
    z-index: 0;
    object-fit: cover;
    height:95vh;
    width: 100vw;
}

.hero::before{
    content: "";
    position:absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0));
}

.hero_text{
    position: absolute;
    z-index: 100;
    margin: 0rem;
    color:#FFFFFF;
    text-shadow: 0rem 0.5rem 1rem black;
    text-align: center;
}

.hero_text--h2{
    text-transform: uppercase;
    font-family: Inter;
    font-size: 2.4rem;
    top: 19rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
    letter-spacing: 0.5rem;
}

.hero_text--h1{
    font-family: Lato;
    font-size: 5.4rem;
    top:22.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.hero_btn{
    position: absolute;
    z-index: 100;
    font-size: 2rem;
    font-family: Inter;
    font-weight: 700;
    padding: 1.2rem 2.9rem 1.2rem 2.9rem;
    border: none;
    border-radius: 1rem;
    line-height: 3.53rem;
    left: 50%;
    transform: translateX(-50%);
    top: 56.4rem;
    background-color: var(--main-bg);
    color: var(--main-clr);
}

.sticky{
    position:sticky;
    top:0;
    z-index: 100;
    padding-left: 12rem;
    background-color: var(--sticky-bg);
}

.sticky_btn{
    font-size: 1.6rem;
    font-family: Inter;
    font-weight: 700;
    padding: 1.2rem 2.9rem 1.2rem 2.9rem;
    border: #354756 solid 0.2rem;
    color: #354756;
    background-color: #FFFFFF;
    border-radius: 1rem;
    margin: 2.2rem 1rem 2.7rem 0rem;
}

.sticky_btn--inactive{
    opacity: 0.5;
}

.about{
    background-color: var(--main-bg);
    color: var(--main-clr);
    position:relative;
    padding-top: 4.9rem;
    padding-left: 20%;
    padding-bottom: 8.5rem;
    margin-bottom: 5.7rem;
}

.about_title{
    font-family: Lato;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0rem;
    line-height: 5.649rem;
}

.about_text{
    font-family: Inter;
    font-size: 2rem;
    font-weight: 400;
    max-width: 50%;
    line-height: 3.53rem;
    margin: 1rem 0rem 0rem 0rem;
}

.about_img{
    position:absolute;
    z-index: 101;
    top: -6.5rem;
    right: 20%;
}

.cards{
    display: grid;
    gap: 5rem 5rem;
    grid-template-rows: repeat(2, 26.3rem);
    grid-template-columns: repeat(5, 20rem);
    justify-content: center;
    margin-bottom: 5rem;
}

.card{
    width: 20rem;
    height: 26.3rem;
    border-radius: 2rem;
}

.card--bookend{
    border: 1rem solid var(--main-bg);
    width: 18rem;
    height: 24.3rem;
}

.card--b{
    background-color: #88A9C5;
}

.card--a{
    background-color: var(--main-bg);
}
